
<div class="form-group">
    <input placeholder="Buscar localización" autocorrect="off" autocapitalize="off" spellcheck="off" [(ngModel)]="addres" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [opacity]="marker.alpha"
    [markerDraggable]="true" (markerClick)="selectMarker($event)">
  </agm-marker>
  <agm-rectangle [north]="max('lat')" [east]="max('lng')" [south]="min('lat')" [west]="min('lng')">
  </agm-rectangle>
</agm-map>
