<h3>Contacto <small> nombre ...</small></h3>

<button [routerLink]="['contactos']" class="btn btn-outline-danger">
    Regresar
</button>

<hr>
<div class="row animated fadeIn fast">
    <div class="col-m-12">
        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="form-group">
                <label> Nombre </label>
                <input [(ngModel)]="contacto.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre de contacto" required>
            </div>
            <div class="form-group">
                <label> Telefono</label>
                <input [(ngModel)]="contacto.telefono" type="text" name="telefono" class="form-control" placeholder="Nombre de contacto">
            </div>
            <div class="form-group">
                <label> Email </label>
                <input [(ngModel)]="contacto.email" type="email" name="email" class="form-control" placeholder="Nombre de contacto">
            </div>
            <div class="form-group">
                <label> Categoria </label>
                <select [(ngModel)]="contacto.categoria" name="categoria" class="form-control">
                    <option value="Universidad">Universidad</option>
                    <option value="Trabajo">Trabajo</option>
                </select>
            </div>
            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
                    Guardar cambios
                </button>
            </div>
            {{forma.valid}}

        </form>
    </div>
</div>