
.tablaProfessionals{
    border:1px solid #e0e0e0;
    }
  
    .fila{
      border-left:1px solid #e0e0e0;
    }
    
    .margin-right {
      margin-right: 5px;
    }
    
    .button-size {
      width: 20px;
      height: 25px;
      padding: 0px;
      i {
          font-size: 12px;
          padding: 0px;
          margin: 0px;
      }
    }
  
    .content-header{
      margin-bottom: 20px;
    }