<section id="filter" class="mb-3">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Cargando ...
      </h3>
    </div>
  </ng-template>
  <ngx-loading [show]="canShowLoading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
  <div class="row gradient-king-yna pt-3" *ngIf="this.relationalFileModel.showTitle">
    <div class="col-lg-12">
      <h4 class="no-border white">Lista de adjuntos</h4>
    </div>
  </div>
  <div class="row card-block" *ngIf="this.relationalFileModel.showCreateButton">
    <div class="col-lg-3 pb-3 pt-3">
      <button type="button" class="btn btn-indigo btn-raised" (click)="newFile()" [disabled]="this.relationalFileModel.maxNumberOfFiles <= this.listFiles.length">
        Nuevo adjunto
      </button>
    </div>
    <div class="col-lg-3 pb-3 pt-3">
      <button type="button" class="btn btn-danger btn-raised" (click)="deleteAllFiles()" [disabled]="this.listFiles.length == 0">
        Eliminar todos
      </button>
    </div>
  </div>
  <div class="row card-block border-darken-3 border-black">
    <div class="col-lg-12 pb-3 pt-3">
      <ngx-datatable #table class='bootstrap responsable' [rows]="listFiles" [columns]="columnsFile"
        [columnMode]="'force'" [sortType]="'multi'" [scrollbarH]="true" [reorderable]="false" [rowHeight]="50"
        [summaryPosition]="'top'" [footerHeight]="50" [messages]="{ 'emptyMessage':'No hay información para mostrar'}">
        <ngx-datatable-column prop="id" [resizeable]="false">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
            Identificador
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="fileName" [width]="200">
          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
            Nombre
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Acciones" [resizeable]="false">
          <ng-template ngx-datatable-header-template>
            Acciones
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-outline-primary mr-1 button-size"
              (click)="downloadFile(row.downloadUrl)">
              <i class="fa fa-download"></i>
            </button>
            <button type="button" class="btn btn-outline-danger mr-1 button-size" (click)="deleteWarningFile(row)">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>