<h1>Contactos</h1>
<hr>


<div class="row animated fadeIn fast">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/contactosedit','nuevo']" class="btn btn-outline-primary" type="button" name="button">
            Nuevo contacto
        </button>
    </div>
</div>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>